@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Base styles */
html,
body {
  @apply h-full bg-gray-100 text-gray-900 antialiased;
}

#app {
  @apply min-h-screen flex flex-col;
}

a {
  @apply text-blue-600 hover:underline;
}

/* You can add more global styles here if needed */

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
